*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(202, 223, 245);
    min-height: 100vh;
}

.qr-code{
    max-width: 18rem;
    background-color: white;
    border-radius: 15px;
    font-size: 15px;
    padding: 1rem 1rem 2rem 1rem;
}
.qr-info{
    margin: .5rem;
    font-size: 0.9375rem;
    text-align: center;
    /* border: .5px solid black; */

}
.qr-code img{
    max-width: 100%;

}
h3{
    margin: 1rem 0;
}
